

<body style="background-color:  rgb(64, 240, 152);">
<!--Formulaire pour ajouter un album-->
<div class="col-md-4 offset-md-4">
    <h3>Add a new album</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> Artist </label>
            <input type="text" class ="form-control" id = "artist"
                [(ngModel)] = "album.artist" name = "artist">
        </div>
        <div class="form-group">
            <label> Title </label>
            <input type="text" class ="form-control" id = "title"
                [(ngModel)] = "album.title" name = "title">
        </div>
        <div class="form-group">
            <label> Genre </label>
            <input type="text" class ="form-control" id = "genre"
                [(ngModel)] = "album.genre" name = "genre">
        </div>
        <div class="form-group">
            <label for="sel1">Type</label>
            <select class="form-control" id="sel1" 
                [(ngModel)] = "album.type" name = "type">
                <option>CD</option>
                <option>Vinyle</option>
                <option>Digital</option>
                
            </select>
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>

<!-- Tableau de la liste des albums-->
<h2> Album List</h2>

<table class="table table-dark table-striped table-hover ">
    <thead>
        <tr >
            <th> Artist </th>
            <th> Title </th>
            <th> Genre </th>
            <th> Type </th>
            <th> Actions</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = "let album of albums" >
            <td> {{ album.artist }}</td>
            <td> {{ album.title }}</td>
            <td> {{ album.genre }}</td>
            <td> {{ album.type }}</td>
            <td>
                <button (click) = "editAlbum(album.id)" class="btn btn-info">Edit</button>
                <button (click) = "deleteAlbum(album.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</body>
